* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", serif;
  text-decoration: none;
  /* outline: auto; */
}


.btnn {
  width: 2rem;
  height: 2rem;
  background-color: #fad046;
  border-radius: 10px;
  width: 20rem;
  height: 3rem;
  text-align: center;
  border: none;
}

.navbar1 {
  width: 100%;
  z-index: 999;
  border-bottom: solid;
  border-color: #253239;
}

.navbar1 a {
  display: inline-block;
  text-decoration: none;
  font-size: 38px;
  padding: 13px 30px 13px 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.navbar1 a.logo {
  padding: 3px 2px 1px 2px;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-left: 20px;
}

.img-logo {
  width: 8rem;
  top: 1.6%;
}

.navbar1 h1 {
  position: absolute;
  left: 15%;
  top: 3%;
}

.progress1 {
  text-align: center;
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #253239;
  width: 60rem;
  height: 25rem;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.content h2 {
  color: white;
  font-weight: 100;
  margin-bottom: 20px;
}

.content img {
  width: 20rem;
  height: auto;
  margin-bottom: 20px;
}

.content .get-started {
  color: black;
  text-align: center;
  line-height: 3rem;
}

.content .type {
  font-size: 18px;
}

.back,
.next {
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  width: 10rem;
  height: 2.5rem;
  background-color: #fad046;
  margin-right: 10px; /* Add some spacing between the buttons */
  color: black;
  text-align: center;
  line-height: 2.5rem;
}

@media screen and (max-width: 600px) {
  .btnn {
    width: 2rem;
    height: 2rem;
    background-color: #fad046;
    border-radius: 10px;
    width: 20rem;
    height: 3rem;
    text-align: center;
  }

  .navbar1 {
    width: 100%;
    z-index: 999;
    border-bottom: solid;
    border-color: #253239;
  }

  .navbar1 a {
    display: inline-block;
    text-decoration: none;
    font-size: 38px;
    padding: 13px 30px 13px 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .navbar1 a.logo {
    padding: 3px 2px 1px 2px;
    vertical-align: middle;
    margin-top: 0.5rem;
    margin-left: 20px;
  }

  .img-logo {
    width: 6rem;
    top: 1.6%;
  }

  .navbar1 h1 {
    position: absolute;
    left: 30%;
    top: 4%;
    font-size: x-large;
  }

  .progress1 {
    text-align: center;
    margin-top: 20px;
  }
  .progressbar{
    width: 25rem;
    height: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #253239;
    width: 100%;
    height: 25rem;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  .content h2 {
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
  }

  .content img {
    width: 20rem;
    height: auto;
    margin-bottom: 20px;
  }

  .content .get-started {
    color: black;
    text-align: center;
    line-height: 3rem;
  }

  .content .type {
    font-size: 18px;
  }

  .back,
  .next {
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    width: 10rem;
    height: 2.5rem;
    background-color: #fad046;
    margin-right: 10px; /* Add some spacing between the buttons */
    color: black;
    text-align: center;
    line-height: 2.5rem;
  }
}
