* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", serif;
  text-decoration: none;
  /* outline: auto; */
}

.main {
  min-height: 100vh;
  display: flex;
  background-color: #46545b;
  background-position: center;
  background-size: cover;
  position: relative;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #253239;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
  height: 430px;
  width: 500px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

.edit {
  color: white;
  padding: 10px;
  margin-top: 70px;
}

.btn {
  background-color: #253239;
  color: #f1f1f1;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
}

.main .back {
  padding: 10px;
  background-color: #fff1f1;
  color: black;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  width: 10rem;
  top: 20px;
  left: 20px;
  transition: transform 0.3s ease;
}

.back:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .main {
    min-height: 100vh;
    display: flex;
    background-color: #46545b;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #253239;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
    height: 400px;
    width: 350px;
    border-radius: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .form-group label {
    margin-bottom: 5px;
  }

  .edit {
    color: white;
    padding: 10px;
    margin-top: 70px;
  }

  .btn {
    background-color: #253239;
    color: #f1f1f1;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
  }

  .main .back {
    padding: 10px;
    background-color: #fff1f1;
    color: black;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    width: 10rem;
    top: 20px;
    left: 20px;
    transition: transform 0.3s ease;
  }

  .back:hover {
    transform: scale(1.1);
  }
}
