@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar main main";
    min-height: auto;
}

header{
    background: #fdf7ec;
    padding: 0 20px;
    grid-area: header;
    height: 100px;
    width: 100%;
    position: relative;
    box-shadow: #fdf7ec;
}

.navbar img{
    width: 100px;
    margin-top: 6px;
}

nav{
    max-width: 1700px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

nav, .items{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.items{
    column-gap: 15px;
    text-decoration: none;
    list-style: none;
}

.items img{
    width: 60px;
    margin-top: 6px;
}

#messages, #notifications{
    color: #ffb845;
    font-size: 24px;
}

#messages :hover{
    color: #f2542d;
    transition: all 0.3s ease;
}

#notifications :hover{
    color: #f2542d;
    transition: all 0.3s ease;
}

main{
    background: #f5dfbb;
    grid-area: main;
    height: 100vh;
    padding: 30px;
    display: flex;
}

.wrapper {
    background-color:#fdf7ec;
    width: 100%;
    padding: 20px;
}

.wrapper .form .form-input {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 50px;
    margin-top: 2%;
    width: 100%;
}

form .form-title {
    text-align: center;
    font-size: 32px;
    position: relative;
    border-bottom: 2px solid #0e9594;
}
.form-input .image-container {
    margin-top: 2%;
    grid-row: 1 / 6;
    text-align: center;
    margin-left: 15%;
    height: 210px;
}

.form .image-container label {
    display: block;
    background-color: #ffb845;
    color: black;
    padding: 1%;
    --webkit-appearance: button;
    cursor: pointer;
    border-radius: 10px;
    max-width: 95%;
    width: auto;
    text-align: center;
    margin-left: 3%;
}
.form .image-container img {
    width: 180px;
    border: 2px solid #0e9594;
    margin-bottom: 2%;
}
.form .image-container input {
    display: none;
}


form .form-input .pet-container {
    width: 100%;
    padding: 3px;
    position: relative;
}

.form-input .pet-container input,
.form-input .pet-container select,
.form-input .pet-container .btn-group {
    position: relative;
    width: 95%;
    border-radius: 15px;
    background-color: #0e9594;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    color: white;
}

.pet-container .btn-sex,
.pet-container .btn-weight
 {
  color: white;
  border-radius: 15px;
  border: 2px solid #0e9594;
  background-color: #0e9594;
}

.pet-container .btn-sex {
    width: 49%;
}

.pet-container .btn-weight {
  width: 24%;
}

.pet-container .btn-sex:hover,
.pet-container .btn-weight:hover {
    background-color: white;
    color: #0e9594;
}

.pet-container .about-container {
    position: relative;
    color: white;
    margin-top: -25%;
}

.about-container ::placeholder {
    text-align: center;
    background-color: #fdf7ec;
    color: black;
    padding: 5px;
}

.about-container textarea {
    height: 210px;
    width: 200px;
    margin-left: 8%;
    border: 2px solid #0e9594;
    border-radius: 10px;
    background-color: #0e9594;
    color: white;
    outline: none;
}

.about-container .textarea:hover {
    background-color: white;
    color: black;
}

.pet-container .ac-btn {
    display: flex;
    position: relative;
    text-align: center;
    margin-top: 16%;
    margin-left: 55%;
    width: 300px;
}

.ac-btn button {
    width: 100%;
    margin-left: 10%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ffb845;
    cursor: pointer;
  
}

.ac-btn button:hover {
  background-color: #f2542d;
  color: white;
}

.sidebar{
    background: #0e9594;
    grid-area: sidebar;
    position: relative;
    overflow: hidden;
 
}

.menu-links{
    list-style: none;
    padding-top: 50px;
    cursor: pointer;
}

.menu-links a{
    display: block;
    color:  rgba(255, 255, 255, 0.738);
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}

.menu-links a.active {
    background-color: #f5dfbb;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #127475;
    color: white;
    border-left: 20px;
    transition: all 0.3s ease;
}

.sidebar #menu-btn{
    color: #fdf7ec;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
    padding: 20px;
}

.sidebar #close-btn{
    color: #fdf7ec;
    cursor: pointer;
    display: none;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
    position: absolute;
}

/*--- Customize Scrollbar ---*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #fdf7ec;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#0e9594, #ffb845);
    border-radius: 20px;
}

@media only screen and (max-width:678px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) ;
        grid-template-areas: 
        "header"
        "sidebar"
        "main";
        
    }
    
    .wrapper {
        overflow: auto;
    }
    .wrapper .form .form-input {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) ;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        
    }

    .form .image-container img {
        max-width: 150px;
        width: 100%;
        margin-left: -20%;
    }

    .form .image-container label{
        max-width: 140px;
        width: 100%;
        text-align: center;
        margin-left: 17%;
    
    }
    
    .form-input .pet-container input,
    .form-input .pet-container select,
    .form-input .pet-container .btn-group,
    .btn-group .btn-sex, 
    .btn-group .btn-weight {
        width: 100%;
    }
    
    .pet-container .about-container textarea{
        max-width: 500px;
        width: 100%;
        height: 100px;
        margin-left: 0;
        margin-top: 30%;
    }

    .pet-container .ac-btn {
        justify-content: center;
        margin-left: 6%;
    }

    .pet-container .ac-btn button {
        padding: 7px;
    }

    aside .mobile-mode::before{
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }
    
    .sidebar .menu-links {
        height: 100vh;
        max-width: 1200px;
        width: 100%;
        background:#0e9594;
        position: fixed;
        left: -1200px;
        top: 0;
        display: block;
        padding: 90px;
        transition: left 0.2s ease;
        text-align: center;
    }

    aside .mobile-mode .sidebar .menu-links{
        left: 0;
    }

    .sidebar .menu-links li {
        margin-bottom: 30px;
    }

    .sidebar .menu-links li a {
        color:  rgba(255, 255, 255, 0.738);
        font-size: 1.1rem;
    }

    .sidebar .menu-links a {
        padding: 0;
    }

    .sidebar .menu-links a:hover{
        color: white;
        background: none;
        background-color: #127475;
        transition: all 0.2s ease;
    }
    
    .sidebar :is(#close-btn, #menu-btn) {
        display: block;
    }
}

