@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
:root{
    --main-content-shadow:0 .4rem .8rem #0005;
    --main-input-color:rgba(37, 141, 141, 0.248);
}


.container{
    overflow: hidden;
}


main{
    padding: 40px;
}

.wrapper {
    background-color:#fdf7ec;
    width: 100%;
    height: 83vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--main-content-shadow);
}

.wrapper .form .form-input {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 50px;
    margin-top: 2%;
    width: 100%;
}

form .form-title {
    text-align: center;
    font-size: 32px;
    position: relative;
    color: #0e9594;
    border-bottom: 2px solid #0e9594;
}

h1{
    padding: 10px;
}

.form-input .image-container {
    margin-top: 2%;
    grid-row: 1 / 6;
    text-align: center;
    margin-left: 15%;
    height: 210px;
}

.pet-container a{
    color: #6a6262;
    margin-left: 200px;
}

.form .image-container label {
    display: block;
    background-color: #ffb845ba;
    color: black;
    padding: 1em;
    --webkit-appearance: button;
    cursor: pointer;
    border-radius: 20px;
    width: 230px;
    text-align: center;
    margin-left: 160px;
}
.form .image-container img {
    width: 250px;
    margin-left: 150px;
    margin-bottom: 20px;
    border-radius: 30px;
}
.form .image-container input {
    display: none;
}

form .pet-container{
    margin-left: 160px;
}

form .form-input .pet-container {
    width: 100%;
    padding: 3px;
    position: relative;
}

.form-input .pet-container input,
.form-input .pet-container select{
    position: relative;
    width: 650px;
    border-radius: 10px;
    background-color:var(--main-input-color );
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    margin: 10px;
}

textarea{
    width: 40rem;
    margin: -30px 30px 10px 320px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-input-color);
}

#label-about{
    display: flex;
    margin-top: 35px;
}

#name{
    margin-left: 40px;
}

#breed{
    margin-left: 67px;
}

#sex{
    margin-left: 81px
}

#species{
    margin-left: 55px
}

#age{
    margin-left: 80px
}

#weight{
    margin-left: 60px;
}

.ac-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 15px 15px -500px;
}

button{
    padding: 15px 45px;
    border: none;
    border-radius: 30px;
}

.add-btn{
    background-color:  #58c3c3;
}

.add-btn:hover{
    box-shadow: 0px 0px 7px #0e9594;
    background-color: #0e9594;
    transition: all 0.2s ease;
}

.clear-btn{
    background-color:  #ffb845ba;
}

.clear-btn:hover{
    box-shadow: 0px 0px 7px #ffb845;
    background-color: #ffb845;
    transition: all 0.2s ease;
}




@media only screen and (max-width:678px){
    
    
    .wrapper {
        overflow: auto;
    }
    .wrapper .form .form-input {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) ;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        
    }

    .form .image-container img {
        max-width: 150px;
        width: 100%;
        margin-left: -20%;
    }

    .form .image-container label{
        max-width: 140px;
        width: 100%;
        text-align: center;
        margin-left: 17%;
    
    }
    
    .form-input .pet-container input,
    .form-input .pet-container select,
    .form-input .pet-container .btn-group,
    .btn-group .btn-sex, 
    .btn-group .btn-weight {
        width: 100%;
    }
    
    .pet-container .about-container textarea{
        max-width: 500px;
        width: 100%;
        height: 100px;
        margin-left: 0;
        margin-top: 30%;
    }

    .pet-container .ac-btn {
        justify-content: center;
        margin-left: 6%;
    }

    .pet-container .ac-btn button {
        padding: 7px;
    }


}

