@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');





/*content*/
.content .cards{
    margin-top: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content .cards .card{
    width: 320px;
    height: 320px;
    background: white;
    margin: 20px 10px;
    flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
#events:hover{
    color: #f2542d;
    transition: all 0.3s ease;
}
#adopt:hover{
    color: #f2542d;
    transition: all 0.3s ease;
}
#visits:hover{
    color: #f2542d;
    transition: all 0.3s ease;
}

/* Calendar */
.content .cards .card-date{
    width: 320px;
    height: 320px;
    background: white;
    margin: 20px 10px;
    flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}
.calendar-container td {
    font-size: 20px;
    border-radius: 40%;
    padding: 5px 8px;
    cursor: pointer;
    transition: background-color 0.5s;
}   
.calendar-container td:hover {
    background-color: rgba(45, 48, 64, 0.81); /* Background color for the hovered day */
    color: white; /* Text color for the hovered day */
}
.day {
        font-size: 14px;
        width: 40px;
        text-align: center;
        padding: 5px;
    }
.red {
        color: red
    }
.days-of-week {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
a{
    color: black;
}
.today {
    background-color: #007bff; 
    color: white; 
    border-radius: 50%; 
    padding: 5px;
}
/* Recent Activities */
.table_responsive{
    max-width: 150vh;
    border: 1px solid #29252B;
    background-color: white;
    padding: 15px;
    overflow: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tables {
    width: 100%;
    font-size: 13px;
    color: black;
    white-space: nowrap;
    border-collapse: collapse;
}
thead{
    background-color: #0e9594;
    color: black;
}
.tables, thead th{
    padding: 8px;
}
.tables th, .tables td{
    border: 1px solid #414a4c;
    border-radius: 3px;
    padding: 10px 15px;
}
.delete-link {
        color: red;
    }
.action-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.action-btn>a{
    text-decoration: none;
    background: #f5dfbb;
    border: 1px solid #e66155;
    display: inline-block;
    padding: 6px 8px;
    font-weight: bold;
    border-radius: 10px;
    border-color: black;
}
.action-btn a:hover{
    color: #f2542d;
    border-color: #f2542d;
    transition: 0.3s ease-in-out;
}
.tables>tbody>tr{
    background-color: white;
    transition: 0.3s ease-in-out;
}
@media only screen and (max-width:678px){

   
}


