@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');




/*content*/
.content .cards{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content .cards .card{
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
#events:hover{
    color: #f2542d;
    transition: all 0.3s ease;
}
#adopt:hover{
    color: #f2542d;
    transition: all 0.3s ease;
}
#visits:hover{
    color: #f2542d;
    transition: all 0.3s ease;
}
.content .cards .card-date{
    width: 250px;
    height: 250px;
    background: white;
    margin: 20px 10px;
    flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

#calendar-container td {
    font-size: 20px;
    border-radius: 40%;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}   
#calendar-container td:hover {
    background-color: rgba(45, 48, 64, 0.81); /* Background color for the hovered day */
    color: white; /* Text color for the hovered day */
}

a{
    color: black;
}
.today {
    background-color: #007bff; 
    color: white; 
    border-radius: 50%; 
    padding: 5px;
}
/* Recent Activities */
.content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content .content-2 .recent-activities{
    min-height: 50vh;
    flex: 5;
    background: white;
    border-radius: 10px;
    margin: 40px 80px 25px 80px; /* default 0px 25px 25px 25px */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #29252B;
    background: #0e9594;
    border-radius: 10px 10px 0 0;
}
.btn{
    background: #f5dfbb;
    color: black;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
.btn:hover{
    color: #f2542d;
    background: #f5dfbb;
    padding: 3px 8px;
    border: 2px solid #f2542d;
}
table{
    padding: 10px;
    width: 100%;
}
td{
    padding: 10px;
    font-size: 20px;
    text-align: right;
}
th{
    padding: 10px;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
}
th i.fa {
    margin-right: 10px;
}

@media only screen and (max-width:678px){
   
}

