:root
{
    /* header */
    --header-color: #fdf7ec;
    --header-notif-message-color: #ffb845;
    --message-notif-hover-color: #f2542d;

    /* content color */
    --main-con-color: #f5dfbb;

    /* sidebar color */
    --sidebar-color: #0e9594;

    /* menu links color */
    --menu-links-default-text-color: rgba(255, 255, 255, 0.738);

    --menu-links-hover-text-color: white;
    --menu-links-hover-background-color: #127475;

    --menu-links-active-background-color: #0B5354;
    --menu-links-active-text-color: var(--menu-links-hover-text-color);
    /* menu burger and mobile colors */
    --burger-AndClose-color: var(--header-color);
}



/* layouts color */
header
{
    background-color: var(--header-color);
}

#messages, #notifications   
{
    color: var(--header-notif-message-color);
}

#messages :hover, #notification:hover
{
    color: var(--message-notif-hover-color);
}

main
{
    background-color: var(--main-con-color);
}

.sidebar
{
    background-color: var(--sidebar-color);
}

.menu-links-color
{
    background-color: var(--sidebar-color);
}

.menu-links a
{
    color: var(--menu-links-default-text-color);
}

.menu-links a.active
{
    background-color: var(--menu-links-active-background-color);
    color: var(--menu-links-active-text-color);
}

.sidebar a:hover:not(.active)
{
    background-color: var(--menu-links-hover-background-color);
    color: var(--menu-links-hover-text-color);
}

#menu-btn, #close-btn
{
    color: var(--burger-AndClose-color);
}

