@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(fonts/Dairantou.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background-color: #fdc161;
}
header{
  margin-top: 2rem;
}
/* --------------------------------------Content 1----------------------------------------- */
h1 {
  font-family: 'dairantou', sans-serif;
  text-align: center;
  color: #127475;
}
p{
  color: #127475;
}
.title{
  display: inline-block;
  font-weight: 800;
  color: #127475;
  margin-bottom: 20px;
  font-size: 1.4rem;
}
.container-1{
  position: relative;
  max-width: 90%;
  width: 100%;        
  border-radius: 15px;                      /* -------Sizing Width------- */
  padding: 50px;
  margin: 40px auto;
  background-color: #f5dfbb;
  align-items: center;
}
.container-1 form{
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  min-height: 680px;                        /* -------Sizing Height------- */
  background-color: #f5dfbb;
  overflow: hidden;
}
.container-1 form .form{
  position: absolute;
  background-color: #f5dfbb;                /* -------Sizing Form------- */
  transition: 0.3s ease;
  width: 75%;
}
.container-1 form .fields{
  display: flex;
  align-items: center;
  justify-content: space-between;             /* -------Aligning------- */
  flex-wrap: wrap;
}
form .fields .input-field{
  display: flex;
  width: calc(100% / 2 - 40px);               /* -------By 2 row------- */
  flex-direction: column;
  margin: 4px 0;
}
form .fields .input-field-1{
  display: flex;
  width: 100%;                                /* -------By 1 row------- */
  flex-direction: column;
  margin: 4px 0;
}
.input-field label, .input-field-1 label{
  font-size: 16px;
  font-weight: 550;                           /* -------Form labels------- */
  color: #127475;
}
.input-field input, select, .input-field-1 input, select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 10px;                     /* ----input select design--- */
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
/* --------------------------------------Content 2----------------------------------------- */
.container-2 {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 50px auto;
    border-radius: 15px;
    background-color: #f5dfbb; 
    overflow-y: auto;
    height: 600px;
    align-items: center;
}

.title-2 {
    font-weight: 800;
    color: #127475;
    font-size: 1.4rem;
    padding: 20px;
}
.title-3 {
  font-size: 16px;
  font-weight: 550;                     
  color: #127475;
}
.content-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    width: 60%;                  /* Mid spacing */
    gap: 22px; 
}

.cards {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

.card {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: solid 1px;
    border-color: #aaa;
    background: white;
    text-align: center;
    font-size: 24px;
    margin-top: 20px; 
}

.calendar-container {
    /* Add your calendar content here */
}

.form-second {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
}

.fields-2 {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.fields-2 label {
    font-size: 16px;
    font-weight: 550;
    color: #127475;
}

.fields-2 input,
.fields-2 select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 70%;
}
/* --------------------------------------CALENDAR----------------------------------------- */
.cards .card{
    border: solid 1px;
    border-color: #aaa;
    width: 320px;
    height: 320px;
    background: white;
    text-align: center;
    font-size: 21px;
}
.calendar-container td {
    font-size: 20px;
    border-radius: 40%;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.calendar-container td:hover {
    background-color: rgba(45, 48, 64, 0.81); /* Background color for the hovered day */
    color: white; /* Text color for the hovered day */
}
.day {
        font-size: 14px;
        width: 40px;
        text-align: center;
        padding: 7px;
    }
.red {
        color: red
    }
.days-of-week {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
a{
    color: black;
}
.today {
    background-color: #007bff; 
    color: white; 
    border-radius: 50%; 
    padding: 5px;
}
/* --------------------------------------Content 3----------------------------------------- */
.container-3 {
    max-width: 90%;
    margin: 30px auto;
    border-radius: 15px;
    background-color: #f5dfbb;  
    overflow-y: auto;
    height: auto;
    padding-bottom: 50px;
}
.title-4{
  padding-left: 13vw;
  margin-top: 6vh;
  display: inline-block;
  font-weight: 800;
  color: #127475;
  margin-bottom: 50px;
  font-size: 1.4rem;
}
.container-3 p {
    font-size: 18px;
    margin-bottom: 35px; 
    font-weight: 600;
    padding-left: 18vw;
    padding-right: 18vw;
}
.confirmationCheckbox {
    display: none;
}
.confirmationCheckbox + label {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.confirmationCheckbox + label:before {
    content: '\2610'; 
    font-size: 1.2em;
    margin-right: 5px;
}

.confirmationCheckbox:checked + label:before {
    content: '\2611'; 
    margin-right: 5px;
}
/* --------------------------------------SAVE BUTTON----------------------------------------- */
.save-container{
  margin-top: 20px;
  display: inline-block;
  padding: 10px 25px;
  background-color: #0e9594;
  text-decoration: none;
  font-size: 25px;
  border-radius: 30px;
  color: #f5dfbb;
  width: 300px;
  text-align: center;
}
.save-container:hover{
  transform: scale(1.05);
  color: #f5dfbb;
}
.center-save {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}
/* --------------------------------------MOBILE SIZE----------------------------------------- */

@media (max-width: 650px) {
    form .fields .input-field{
        width: 100%;
    }
    .container-1 form .form {
        height: 100%;
    }
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .cards,
    .form-second {
        width: 100%;
        padding: 0;
    }
    .card {
        margin-top: 0;
    }
    .calendar-container td {
        font-size: 13px;
        border-radius: 40%;
        padding: 8px 11px;
    }
    .cards .card{
      width: 270px;
      height: 270px;
    }
    .fields-2 input,
    .fields-2 select {
      width: 100%;
    }
    .container-3 p{
      font-size: 16px;
    }
    .title-4, .title, .title-2{
      font-size: 1.2rem;
    }
    .save-container{
      font-size: 18px;
      width: 250px;
    }
 
}
@media (max-width: 1000px){
  .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .cards,
    .form-second {
        width: 100%;
        padding: 0;
    }
    .card {
        margin-top: 0;
    }
    .calendar-container td {
        font-size: 13px;
        border-radius: 40%;
        padding: 8px 11px;
    }
    .cards .card{
      width: 270px;
      height: 270px;
    }
    .fields-2 input,
    .fields-2 select {
      width: 100%;
    }
}