:root{
    --shadow-content: 0 .4rem .8rem #0005;
    --shadow-main: 0px 3px 10px rgb(101, 101, 101);
    --searchbar-color: rgb(108, 178, 178);
    --sidebar-content-color: rgb(38, 148, 148);
}

/* start: Chat */

.chat-container {
    max-width: 1590px;
    width: 100%;
    height: 745px;
    border-radius: ;
    position: relative;
    color: #127475;
}
/* end: Chat */

/* start: Sidebar */

.chat-sidebar-menu {
    list-style-type: none;
    display: flex;
    height: 100%;
    padding: 16px 0;
}

.chat-sidebar-profile-toggle {
    display: none;
}


/* start: Content side */
.chat-content {
    padding-left: 64px;
    height: 100%;
    position: relative;
}

.chat-content a{
    color: azure;
}

.content-sidebar {
    width: 256px;
    background-color: rgb(38, 148, 148);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 64px;
    border-radius: 15px 0px 0px 15px;
}

.content-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
    
}
.content-sidebar-form {
    position: relative;
    padding: 0 16px;
}
.content-sidebar-input {
    padding: 8px 16px;
    background-color: rgb(108, 178, 178);
    border: 1px solid #0e9594;
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding-right: 32px;
    font-size: 14px;
}
.content-sidebar-input:focus {
    border-color:black;
}
.content-sidebar-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    color: #0e9594;
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
}

.content-messages {
    overflow-y: auto;
    height: 100%;
    margin-top: 16px;
}
.content-messages-list {
    list-style-type: none;
    padding: 8px 0;
}
.content-messages-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 6px 16px;
}
.content-messages-list > * > a:hover {
    background-color: #127475;
}

.content-message-title {
    margin-left: 16px;
    margin-right: 16px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
}
.content-message-title > * {
    position: relative;
    z-index: 1;
    padding: 0 4px 0 0;
    background-color: #0e9594;
}
.content-message-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #cbd5e1;
    z-index: 0;
}
.content-message-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}
.content-message-info {
    display: grid;
    margin-right: 12px;
    width: 100%;
}
.content-message-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}
.content-message-text {
    font-size: 13px;
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-message-more {
    text-align: right;
}
.content-message-unread {
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #0e5354;
    padding: 2px 4px;
    border-radius: 4px;
}
.content-message-time {
    font-size: 12px;
    color: white;
    font-weight: 500;
}
