@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(/src/fonts/Dairantou.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background: #fdc161;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 15px;
}

header .navbar {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img{
    width: 130px;
    image-resolution: 300px;
}

.navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.navbar .menu-links li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .menu-links .language-item span {
    font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
    color: #127475;
}

.navbar .menu-links .join-btn a {
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #127475;
}

.navbar .menu-links .join-btn a:hover {
    color: #fff;
    border-color: transparent;
    background: #f2542d;
}

.navbar #hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
}
  
.navbar #close-menu-btn {
    position: absolute;
    display: none;
    color: #000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
}

/*--------------------------------------------------------------------------------------------*/

/*** Dropdown menu and search bar section***/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40rem;
    width: 100%;
    z-index: 1;
    padding: 15px;
    background: #0e9594;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background: transparent;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 60px;
    border: 2px solid #f9f9f9;
    border-radius: 40px;
    color: #f9f9f9;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-btn img{
    width: 50px;
    height: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 4rem;
    background: #0e9594;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    text-align: center;
    border: 2px solid #f9f9f9;
    border-radius: 40px;
}

.dropdown-content img {
    width: 30px;
    height: 30px;
}

.dropdown-content a {
    display: block;  
    text-decoration: none;
    color: #f9f9f9;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background: #127475;
    border-radius: 20px;
    border-bottom: 2px solid #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 20px;
  
}

/*** Search bar ***/
.search-bar {
    position: relative;
}

.search-bar i {
    position: absolute;
    left: 9px;
    top: 12px;
    font-size: 20px;
}

.search-bar .input-field {
    border: none;
    border-radius:50px;
    background: #c5d5ce;
    color: #797070;
    font-size: 15px;
    width: 350px;
    padding: 15px;
    padding-left: 30px;
    text-align: left;
}

/*--------------------------------------------------------------------------------------------*/

/*** Cat Content ***/
main {
    display: flex;
    top: 15%;
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px;
    padding-bottom: 300px;
}

.cat-content {
    width: 100%;
    height: auto;
}


.cat-select{
    position: relative;
    width: 230px;
    left: 5%;
    top: 3%;
}

.cat-select label{
    font-weight: 700;
    font-size: 19px;
    color: #0e9594;
}

.cat-select select{
    margin-top: 5px;
    padding: 14px;
    border-radius: 10px;
    width: 230px;
    color: #0e9594;
    border: none;
    appearance: none;
}

.cat-select li{
    list-style: none;
    padding: 15px;
}

.display-cat {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(auto, 100px);
    column-gap: 15px;
    row-gap: 35px;
    max-width: 940px;
    height: auto;
}

.display-cat h1{
    flex-direction: column;
    grid-column: 1 / 5;
    text-align: left;
    font-size: 45px;
    color: #0e9594;
}

.display-cat img,
.display-cat .img-bg{
    width: 214px;
    height: 220px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.display-cat .img-bg{
    position: relative;
    overflow: hidden;
    height: 260px;
    background: #fff6e8;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.img-bg p{
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 700;
    color: #0e9594;
}

 .img-bg .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: 0.5s ease;
    padding: 10px;
}

.img-bg:hover .overlay {
    opacity: 1;
    height: 100%;
}

.img-bg h2, .overlay p {
    width: 100%;
    text-align: left;
}

.img-bg h2{
    font-size: 20px;
    margin-top: 20%;
    color: #fdc161;
}

.overlay p{
    font-size: 11px;
    margin-top: 10%;
    color: #fff6e8;
}

/*--------------------------------------------------------------------------------------------*/


