@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(/src/fonts/Dairantou.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background: #090b29;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 15px;
}

header .navbar {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img{
    width: 130px;
    image-resolution: 300px;
}

.navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.navbar .menu-links li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar .menu-links .language-item span {
    font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
    color: #127475;
}

.navbar .menu-links .join-btn a {
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #127475;
}

.navbar .menu-links .join-btn a:hover {
    color: #fff;
    border-color: transparent;
    background: #f2542d;
}

.navbar #hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
}
  
.navbar #close-menu-btn {
    position: absolute;
    display: none;
    color: #000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
}

/*--------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 900px) {
    header.show-mobile-menu::before {
      content: "";
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      backdrop-filter: blur(2px);
    }
  
    .navbar .menu-links {
      height: 100vh;
      max-width: 300px;
      width: 100%;
      background: #fdf7ec;
      position: fixed;
      left: -300px;
      top: 0;
      display: block;
      padding: 75px 40px 0;
      transition: left 0.2s ease;
    }
  
    header.show-mobile-menu .navbar .menu-links {
      left: 0;
    }
  
    .navbar .menu-links li {
      margin-bottom: 30px;
    }
  
    .navbar .menu-links li a {
      color: #e89003;
      font-size: 1.1rem;
    }
  
    .navbar .menu-links .join-btn a {
      padding: 0;
      background-color: #FFFFFF;
      
    }
  
    .navbar .menu-links .join-btn a:hover {
      color: #0e9594;
      background: none;
    }
  
    .navbar :is(#close-menu-btn, #hamburger-btn) {
      display: block;
    }
  
    .hero-section {
      background: none;
    }
  
    .hero-section .content {
      margin: 0 auto 80px;
    }
  
    .hero-section .content :is(h1, .search-form) {
      max-width: 100%;
    }
  
    .hero-section .content h1 {
      text-align: center;
      font-size: 2.5rem;
      line-height: 47px;
    }
  
    .hero-section .content p {
      text-align: center;
      margin-left: 10vh;
    }
  
  }

/*-----------------------------------------CONTENT---------------------------------------------------*/

/*** Dropdown menu and search bar section***/
.content{
    width: 100%;
    z-index: 1;
    padding: 15px;
    background: #240155;   
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background: transparent;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 60px;
    border: 2px solid #1EDDD4;
    border-radius: 40px;
    color: #f9f9f9;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-btn img{
    width: 50px;
    height: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 4rem;
    background: #240155;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    text-align: center;
    border: 2px solid #1EDDD4;
    border-radius: 40px;
}

.dropdown-content img {
    width: 30px;
    height: 30px;
}

.dropdown-content a {
    display: block;  
    text-decoration: none;
    color: #f9f9f9;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background: #127475;
    border-radius: 20px;
    border-bottom: 2px solid #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 20px;
  
}

/*** Search bar ***/
.search-bar {
    position: relative;
}

.search-bar i {
    position: absolute;
    left: 9px;
    top: 12px;
    font-size: 20px;
}

.search-bar .input-field {
    border: none;
    border-radius:50px;
    background: #c5d5ce;
    color: #797070;
    font-size: 15px;
    width: 350px;
    padding: 15px;
    padding-left: 30px;
    text-align: left;
}

/*--------------------------------------------------------------------------------------------*/

/*** Dog Content ***/
main {
    display: flex;
    top: 16%;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 50px;
    justify-content: space-between;
    padding-bottom: 300px;
}

.dog-content {
    width: 300px;
    height: auto;
}

.dog-select{
    position: relative;
    top: 3.5%;
}

.dog-select label{
    font-weight: 700;
    font-size: 19px;
    color: #1EDDD4;
}

.dog-select select{
    margin-top: 5px;
    padding: 14px;
    border-radius: 10px;
    width: 230px;
    color: #1EDDD4;
    border: none;
    appearance: none;
}

.dog-select li{
    list-style: none;
    padding: 15px;
}

.display-dog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 40px;
    width: 100%;
}

.display-dog h1{
    flex-direction: column;
    grid-column: 1 / 5;
    text-align: left;
    font-size: 45px;
    color: #1EDDD4;
    margin-top: 1%;
}

.display-dog img,
.display-dog .img-bg{
    width: 235px;
    height: 260px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.display-dog .img-bg{
    position: relative;
    overflow: hidden;
    height: 300px;
    background: #ab62ff;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.img-bg p{
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 700;
    color: #c3fdfa;
}

 .img-bg .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: 0.5s ease;
    padding: 10px;
}

.img-bg:hover .overlay {
    opacity: 1;
    height: 100%;
}

.img-bg h2, .overlay p {
    width: 100%;
    text-align: left;
}

.img-bg h2{
    font-size: 20px;
    margin-top: 20%;
    color: #1EDDD4;
}

.overlay p{
    font-size: 11px;
    margin-top: 10%;
    color: #fff6e8;
}

/*---------------------------------------------------------------------------------------------*/
 /***Responsive***/
 @media only screen and (max-width: 678px) {
    .content{
        height: 100%;
        width: 100%;
    }
    .menu{
        flex-direction: row;
        height: auto;
        gap: 9rem;
    }
    .dropdown .dropdown-btn
    {
        justify-content: center;
        max-width:10px;
        height: 40px;
    }
    .dropdown-btn img {
        max-width: 35px;
        height: auto;
    }
    .search-bar .input-field{
        max-width: 200px;
        width: auto; 
        height: 40px;
    }

    main{
        height: auto;
        max-width: 740px;
        flex-direction: column;
        padding-top: 20px;
    }

    .dog-content {
        width: 100%;
    }

    .dog-select {
        display: flex;
        gap: 25px;
    }

    .dog-select label {
        font-size: 15px;
    }

    .dog-select select{
        width: 94px;
        padding: 6px;
    }

    .dog-select li{
        padding: 0;
        margin: 0;
    }

    .display-dog { /*2 columns dapat pero ayaw magwork*/
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    .display-dog h1{
        text-align: center;
    }
    

 }
