@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(/src/fonts/Dairantou.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  background: #fdc161;
  padding: 70px;
}


/* Content */
main{
  background: #f5dfbb;
  width: 100%;
  height: auto;
  position: relative;
  padding: 45px;
  border-radius: 26px;
  margin-bottom: 5%;
}

h1{
  text-align: left;
  font-size: 45px;
  padding-bottom: 5px;
  margin-left: 3%;
  color: #127475;
}

hr {
  background: #127475;
  height: 1px;
  border: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin-top: 2%;
}

.user-profile img {
  width: 230px;
  height: 230px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.user-profile button {
  padding: 10px;
  width: 85%;
  border: none;
  border-radius: 26px;
  background: #FFB845;
  color:#127475;
  font-size: 15px;
  font-weight: 700;
  margin-left: 2%;
}

.info-box{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color:#127475;
  width: 100%;
}

.acc-info label,
.acc-info-gender label{
  display: inline-block;
  margin-bottom: 2%;
  font-size: 16px;
}

.info-box input {
  padding: 7px;
  border: none;
  border-radius: 10px;
  background: #6B9392;
  opacity: 40%;
  width: 100%;
  margin-bottom: 2%;
}

.info-box-1col{
  width: 100%;
  height: auto;
}

.info-box-2col, 
.acc-info-gender {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.info-box-2col > div {
  width: calc(50% - 20px);
}

.save-button {
  position: relative;
  width: 20%;
  margin-left: 81%;
}
.save-button button{
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 26px;
  color:#F5DFBB;
  background:#127475;
  font-weight: 700;
}



/*--------------------------------------------------------------------------------------------*/


/*--- Customize Scrollbar ---*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #fdf7ec;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#ffb845,#0e9594);
  border-radius: 20px;
}

/*--------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 900px) {
  
  body{
    height: 100vh;
    width: 100%;
    padding: 30px;
  }
  main {
    margin-top: 35%;
    height: auto;
  }
  h1 {
    text-align: center;
    font-size: 30px;
  }
  
  hr {
    width: 100%;
  }

  h3 {
    margin-bottom: 4%;
    margin-top: 5%;
  }

  .container {
    flex-direction: column;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 30%;
  }

  .user-profile img {
    max-width: 180px;
    max-height: 180px;
  }

  .user-profile button {
    max-width: 50%;
  }

  .acc-info {
    margin-bottom: 3%;
  }
  .acc-info label {
    margin-bottom: 4%;
  }
    
  .acc-info-gender {
    display: none;
  }

  .info-box {
    text-align: left;
  }

  .info-box-2col {
    flex-direction: column;
    margin-bottom: -5%;
  }

  .info-box-2col > div {
    width: 100%;
  }

  .save-button {
    width: 80%;
    margin-left: 10%;
    margin-top: -30%;
    
  }
  .save-button button{
    font-size: 15px;
    padding: 8px;
  }

}