@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
    font-family: 'Magic-Retro';
    src: url(/src/fonts/MagicRetro.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
  
footer .footer-content{
    display: flex;
    justify-content: space-around;
    background: #0e9594;
    color: #c9e6e7;; 
    padding: 2em; 
    font-size: 1.2rem;
}
footer .footer-content>div
{
    flex: 1;
}

footer .item img {
    width: 90%;
    object-fit: contain;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 10px;
}
footer .item.logo>a
{
    width: 200px;
}

.footer-content ul:not(.socmed ul)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content .item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer .item, .quick-links ul, .about ul, .Services ul{
    color: #c9e6e7;
    list-style: none; 
    margin-top: 15px;
}

.quick-links a, .about a,.footer-content .Services a{
    color: #c9e6e7c8;
    text-decoration: none;
    font-size: 16px;
}

.about a:hover,
.quick-links a:hover,
.Services a:hover{
  color: #fff;
}

footer .item .socmed ul{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    list-style: none;
    gap: 15px;
    margin: 10px;
}

footer .item .socmed ul a{
    color: #0e9594;
    text-decoration: none;    
    border-radius: 50%;
    background-color:#9bbfc0;
}

footer .item .socmed ul a:hover{
    background-color:#fff;
}

footer .item .socmed ul .fa-facebook{
    padding-top: 7px;
    padding-left: 11.5px;
    padding-right: 11.5px;
    padding-bottom: 7px;
}

footer .item .socmed ul .fa-instagram{
    padding-top: 7px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 7px;
}

footer .item .socmed ul .fa-twitter{
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 7px;
}


footer .info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #127475;
    color: #fff; 
    font-size: 0.9rem;
}

footer .info .item{
    padding: 1rem 2rem;
    flex: 1 0 30%;
}

.info ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.info a{
    color:#9bbfc0ec;
    text-decoration: none;
}

.info a:hover{
    color: #fff;
}

.info .content2 p{
   text-align:right;
    color: #9bbfc0ec;
    font-size: 0.9rem;
    margin-top: 0rem;
}


@media only screen and (max-width: 900px){
    footer{
        max-width: 900px;
    }

    footer .footer-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #0e9594;
        color: #c9e6e7;; 
        padding: 2em; 
        font-size: 1.2rem;
    }

    
    footer .footer-content .item{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        text-align: center;
    }


    footer .item img{
        width: 200px;
    }

    
    footer strong p{
        text-align: center;
    }
    footer strong 
    {
        padding: 1rem;
    }

    footer .item .socmed ul{
        display: flex;
        flex-wrap: nowrap;
        text-decoration: none;
        list-style: none;
        gap: 15px;
        margin: 10px;
    }
}

