@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(fonts/Dairantou.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: 'Lato', sans-serif; /*samp*/
  background-color: #090b29;
  justify-content: center;
}

header{
  background: url('icons/close-up-portrait-beautiful-cat-low-brightness.png');
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 720px;
  z-index: 1;
  padding: 20px;
  margin-bottom: 100;
  background-repeat: no-repeat;
  background-size: cover;  
}

header .navbar {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
    width: 150px;
    image-resolution: 300px;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #127475;
}
/*--------------------------------------------------------------------------------------------*/
.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}


/*--------------------------------------------------------------------------------------------*/

main{
  background: #f5dfbb;
  width: 90%;
  height: 730px;
  margin-top: 30px;
  margin-left: 90px;
  border-radius: 26px;
  box-shadow: 0px 3px 10px rgb(110, 109, 109);
}

/*--------------------------------------------------------------------------------------------*/

/*--- Customize Scrollbar ---*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #fdf7ec;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#ffb845,#0e9594);
  border-radius: 20px;
}

/*--------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 900px) {
  header.show-mobile-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
  }

  .navbar .menu-links {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background: #fdf7ec;
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }
  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #e89003;
    font-size: 1.1rem;
  }

  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }

/*---------------------------------------------CONTENT-----------------------------------------------*/
    main{
    height: 100vh;
    max-width: 740px;
    margin-left: 60px;
  }

}
/* Content */
/* header part*/
a .icon-user{
  width: 50px;
  height: 50px;
  transition: opacity 0.2s ease;
}
.icon-user:hover {
  opacity: 0.70; /* Adjust the opacity value as needed */
}
/* for title */
#petsTitle, #UnderpetsTitle {
  font-family: 'dairantou', sans-serif;
  color: #c3fdfa;
}

.title-container {
  text-align: center;
  padding: 20px;
  margin-top: 15vh; 
  justify-content: center; 
}

h1 {
   font-size: 4em;
  
}

h2 {
  font-size: 1.8em; 
}

/* Search bar */
.search-container {
    margin-top: 20px; 
  }
.search-bar {
  height: 50px;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  width: 500px; 
  background: rgb(140, 206, 203,0.5); /* Adjust the alpha value for transparency */
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  }

/* dog and cat buttons*/
.button-container {
  display: flex;
  justify-content: space-evenly;
}
.button {
  position: relative;
  width: 250px;
  height: 100px;
  background-color: #ab62ff;
  border: none;
  font-family: 'dairantou', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 40px 0px 120px 0px;  /* top,right,bottom,left */
  cursor: pointer;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  line-height: 50px;
}
.button:hover {
  background-color: #7543af; /* #f2542d; */
  transform: scale(1.05);
}
/* Icon adjustments */
.dog-icon, .cat-icon {
  position: absolute;
  top: 70%; 
  transform: translateY(-50%);
}
.dog-icon, .cat-icon  {
  right: 0px; 
}
.cat-icon {
  max-width: 100%;
  max-height: 100%;
  width: 70px;
  height: 70px;
  line-height: 200px; /* Vertical centering of text */
}
.dog-icon {
  max-width: 100%;
  max-height: 100%;
  width: 90px;
  height: 90px;
  line-height: 200px; /* Vertical centering of text */
}
/* content-Available dog and cats*/
.pet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 3%;
}

.pet-card {
    text-align: center;
    margin: 15px;
    padding: 0px;
    background-color: #ab62ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 15px;
}

.pet-card:hover {
    transform: scale(1.05);
}

.pet-image {
/*  object-position: bottom; [para ma position yung crop maayos] */
    position: relative;
    object-fit: cover;
    width: 250px;
    height: auto; /*backup tapos height: 100px;*/
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.pet-name {
    text-align: center;
    padding: 20px;
    font-family: 'dairantou', sans-serif;
    color: #c3fdfa;
}
#available-pet {
    font-family: 'dairantou', sans-serif;
    color: #1EDDD4;
    text-align: center;
    font-size: 30px;
}

/* Donation container*/
.description i {
  margin-right: 5px; /* Adjust spacing between icon and text */
}
    /* Style for the container */
.overall-description-container{
  padding: 2%;
  background-color: #691eb9;
  margin: 5% auto;
  text-align: center;
  border-radius: 15px;
  width: 60%;
  align-content: center;
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.40);  */
}
.description-container {
  display: flex;
  flex-direction: row; 
  gap: 10px; 
  text-align: center;
  
}
.title {
  color: #1EDDD4;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'dairantou', sans-serif;
}
.description {
  padding: 30px;
  color:#1EDDD4;
  font-size: 20px;
}
.description i {
  font-size: 500%; 
  margin-right: 10px; /* Adjust spacing between icon and text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-donations {
  padding: 10px;
  background-color: #ab62ff;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 25%;
  color: #c3fdfa;
}
.button-donations:hover{
  transform: scale(1.05);
}

/* About Volunteers*/
.volunteer-container{
  /*height: 630px;*/
  width: auto;
  margin: 100px auto 0px 0px;
  padding-bottom: 0px;
}
.about-volunteer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #381162;
  width: auto;
  background-attachment: fixed;
  height: 69.2vh;
}

.image-volunteer{
  flex: 1;
  margin-right: 30px;
  overflow: hidden;
}

.image-volunteer img{
  width: 100%;
}

.content-volunteer{
  flex: 1;
  margin-left: 50px;
}
.content-volunteer p{
  font-size: 20px;
  line-height: 1.3;
  color: #c3fdfa;
  margin-right: 100px;
}
h3 {
  color: #c3fdfa;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'dairantou', sans-serif;
}
.learn-more{
  margin-top: 20px;
  display: inline-block;
  padding: 10px 25px;
  background-color: #ab62ff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 30px;
  color: #381162;
}
.learn-more:hover{
  transform: scale(1.05);
  color: #1EDDD4;
}
/* Content Responsive*/
@media (max-width: 900px) {
h1 {
  font-size: 2em;
}
  /* Heading */
h2 {
  font-size: 1.0em;
}
.search-bar {
  width: 80%;
  max-width: none;
}
header {
  background-size: auto; /* Adjust as needed for mobile view */
  margin-bottom: 50px; /* Adjust margin for mobile view */
  height: 80vh; /* background */
}
.logo img {
  width: 70%; 
  max-width: 150px; 
}
.search-bar {
  width: 50%;
}
/* Dog or cat */
.button-container {
  flex-direction: row;
  align-items: center;
}
.button {
  width: 50%;
  min-width: 20%;
  margin: 10px 10px 40px 10px;
  }
/* available dog and cat */  
#available-pet {
  font-size: 1.5em;
}
.pet-container {
  margin-left: 5%;
  margin-right: 5%;
  }
.pet-card {
  width: 35%; /* Adjust the width of pet cards for better layout on smaller screens */
  }
.pet-image {
  width: 100%; /* Make images take up the full width of the card */
  border-radius: 15px; 
  }
    .pet-name:contains('Cheese'),
    .pet-name:contains('Stacy') {
        display: none;
    }
/* Donation container 900px */
  .overall-description-container {
    width: 80%; /* Adjust the width for smaller screens */
  }

  .description i {
    font-size: 80px; 
  }
  .button-donations {
    width: 50%;
    padding: 20px;
  }
/* volunteer container */
.learn-more{
  margin-bottom: 20px;
}
.image-volunteer{
  display: none;
}
h3{
  font-size: 40px;
  }
}
  /* Donation container 1080px */
@media (max-width: 1080px) {
 .overall-description-container {
    width: 80%; /* Adjust the width for smaller screens */
  }

  .description i {
    font-size: 80px; 
  }
  .button-donations {
    width: 50%;
    padding: 20px;
  }  
}
@media (max-width: 780px){
  /* Donation container 780px */
  .overall-description-container {
    width: 80%; /* Adjust the width for smaller screens */
  }

  .description i {
    font-size: 50px; 
  }
  .button-donations {
    width: 50%;
    padding: 20px;
  }
  .description{
    padding: 2px;
    font-size: 18px;
  }
}