@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(fonts/Dairantou.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: 'Lato', sans-serif; /*samp*/
  background-color: #fdc161;
  justify-content: center;
}

header {
  background: url('icons/close-up-portrait.png');
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 720px;
  z-index: 1;
  padding: 20px;
  margin-bottom: 100;
  background-repeat: no-repeat;
  background-size: cover;
}

header .navbar {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
    width: 150px;
    image-resolution: 300px;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #127475;
}
/*--------------------------------------------------------------------------------------------*/
.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}


/*--------------------------------------------------------------------------------------------*/

main{
  background: #f5dfbb;
  width: 90%;
  height: 730px;
  margin-top: 30px;
  margin-left: 90px;
  border-radius: 26px;
  box-shadow: 0px 3px 10px rgb(110, 109, 109);
}

/*--------------------------------------------------------------------------------------------*/

.container2{
  display: flex;
  padding: 0;
  height: 935px;
  margin-top: 145px;
  background: #ff653e;
}

.container2 .item{
  width: 950px;
  height: auto;
}

.container2 h1{
  font-family: 'dairantou';
  color: #ffb845;
  font-size: 75px;
  text-align: left;
  padding-top: 140px;
  margin-left: 150px;
}

.container2 p{
  color: wheat;
  font-size: 24px;
  max-width: 630px;
  line-height: 30px;
  margin-top: 14px;
  margin-left: 120px;
  text-align: justify;
}


/--------------------------------------------------------------------------------------------/
.container3{
  width: 90%;
  height: 730px;
  margin-top: 135px;
  margin-left: 90px;
}

.container3 h1{
  text-align: center;
  font-family: 'dairantou';
  color: #0e9594;
  font-size: 55px;
}

.testimonials{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  margin-top: 50px;
}

.testimonials .item{
  background: #f5dfbb;
  height: 350px;
  width: 800px;
  border-radius: 26px;
  box-shadow: 0px 3px 10px rgb(110, 109, 109)
}

.testimonials .item:hover{
  background: #d3c3a9;
  transition:  0.2s ease;
}
*/
/*--- Customize Scrollbar ---*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #fdf7ec;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#ffb845,#0e9594);
  border-radius: 20px;
}

/*--------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 900px) {
  header.show-mobile-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
  }

  .navbar .menu-links {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background: #fdf7ec;
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }
  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #e89003;
    font-size: 1.1rem;
  }

  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }

/*---------------------------------------------CONTENT-----------------------------------------------*/
/*  main{
    height: 100vh;
    max-width: 740px;
    margin-left: 60px;
  }*/

}
/* Content */
/* header part*/
a .icon-user{
  width: 50px;
  height: 50px;
  transition: opacity 0.2s ease;
}
.icon-user:hover {
  opacity: 0.70; /* Adjust the opacity value as needed */
}
/* for title */
#petsTitle, #UnderpetsTitle {
  font-family: 'dairantou', sans-serif;
  color: #fff6e8;
  }
.title-container {
  text-align: center;
  padding: 20px;
  margin-top: 15vh; 
  justify-content: center;
  }

h1 {
   font-size: 3.5em; 
  }

h2 {
  font-size: 1.8em; 
  color: white; 
  }
/* Search bar */
.search-container {
  position: relative;
  margin-top: 20px; 
  }
.search-bar {
  height: 50px;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  width: 500px; 
  background: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  }

/* dog and cat buttons*/
.button-container {
  display: flex;
  justify-content: space-evenly;
}
.button {
  position: relative;
  width: 250px;
  height: 100px;
  background-color: #f2542d;
  border: none;
  font-family: 'dairantou', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 40px 0px 120px 0px;  /* top,right,bottom,left */
  cursor: pointer;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  line-height: 50px;
}
.button:hover {
  background-color: rgba(242, 84, 45, 0.8); /* #f2542d; */
  transform: scale(1.05);
}
/* Icon adjustments */
.dog-icon, .cat-icon {
  position: absolute;
  top: 70%; 
  transform: translateY(-50%);
}
.dog-icon {
  right: 0px; 
}
.cat-icon {
  right: 0px; 
}
.cat-icon {
  max-width: 100%;
  max-height: 100%;
  width: 70px;
  height: 70px;
  line-height: 200px; /* Vertical centering of text */
}
.dog-icon {
  max-width: 100%;
  max-height: 100%;
  width: 90px;
  height: 90px;
  line-height: 200px; /* Vertical centering of text */
}
/* content-Available dog and cats*/
        .pet-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 0%;
            margin-bottom: 3%;
        }

        .pet-card {
            text-align: center;
            margin: 15px;
            padding: 0px;
            background-color: #f5dfbb;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
            border-radius: 15px;
        }

        .pet-card:hover {
            transform: scale(1.05);
        }

        .pet-image {
        /*  object-position: bottom; [para ma position yung crop maayos] */
            object-fit: cover;
            max-width: 100%;
            width: 250px;
            height: auto; /*backup tapos height: 100px;*/
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0
        }

        .pet-name {
            font-weight: bold;
            text-align: center;
            padding: 20px;
            font-family: 'dairantou', sans-serif;
            color: #127475;
        }
        #available-pet {
            font-family: 'dairantou', sans-serif;
            color: #127475;
            text-align: center;
            font-size: 30px;
        }
/* Content Responsive*/
@media (max-width: 900px) {
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.0em;
}
.search-bar {
  width: 80%;
  max-width: none;
}
header {
  background-size: auto; /* Adjust as needed for mobile view */
  margin-bottom: 50px; /* Adjust margin for mobile view */
  height: 80vh; /* eto need ko para sa background */
}
.logo img {
  width: 70%; 
  max-width: 150px; 
}
.search-bar {
  width: 50%;
}
.button-container {
  flex-direction: row;
  align-items: center;
}
.button {
  width: 50%;
  min-width: 20%;
  margin: 10px 10px 40px 10px;
  }
#available-pet {
  font-size: 1.5em;
}
.pet-container {
  margin-left: 5%;
  margin-right: 5%;
  }
.pet-card {
  width: 35%; /* Adjust the width of pet cards for better layout on smaller screens */
  }
.pet-image {
  width: 100%; /* Make images take up the full width of the card */
  border-radius: 15px; /* Reset border-radius for the bottom corners */
  }
}