@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
:root{
    --main-content-shadow:0 .4rem .8rem #0005;
    --main-input-color:rgba(195, 253, 250, 0.776);
}





/*---------------------------------CONTENT-----------------------------*/


.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
    color: #eee;
}

.content h1{
    color: #c3fdfa;
    padding: -1em;
}


.profile, .list {
    background-color: #381162;
    border-radius: 10px;
    box-shadow: var(--main-content-shadow);
    color: #eee;
}

.profile{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(200px, 1fr));
    padding: 3rem;
    gap: 15px;
    grid-auto-flow: row dense;
}

.profile img{
    margin-top: 20px;
    width: inherit;
    border-radius: 30px;
}


#ID{
    margin-top: 20px;
    margin-left: 5px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color : var(--main-input-color)
}

.details1 a{
    margin-left: 30px;
    color: #6a6262;
}

.details1 div
{
    width: 250px;
}

input{
    padding: 9px;
    margin: 15px 15px 15px 0px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-input-color);
}

select{
    padding: 9px;
    margin: 15px 15px 15px 0px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-input-color);
}

textarea{
    border-radius: 5px;
    border: none;
    background-color: var(--main-input-color);
    min-width: 100%;
    max-width: 100%;
    min-height: 10rem;
}

#label-about{
    display: flex;
}



.img-label{
    display: block;
    background-color: #ffb845ba;
    color: black;
    padding: 0.5em;
    --webkit-appearance: button;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

#input-file{
    display: none;
}

.details1
{
    grid-row: span 2;
    justify-self: center;
}
.details4
{
    grid-column: span 2;
}


.details2 div, .details3 div, .flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

.details2 div label,.details3 div label, .flex label
{
    flex: 1; /* This makes the label take up all available space */
    margin-right: 10px; /* Adjust the margin as needed */
}

.details2 div input, .details2 div select, .details2 div textarea,
.details3 div input, .details3 div select, .details3 div textarea, .flex input
{
    flex: 2 0 100px;  /* Adjust the flex value as needed */
    min-height: 2.3rem;
}

.upd-btn{
    display: flex;
    gap: 15px;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 0.75rem;
}

.upd-btn button{
    padding: 9px 25px;
    border: none;
    border-radius: 16px;
}

.upd-btn .update-btn{
    background-color:  #58c3c3;
}

.update-btn:hover{
    box-shadow: 0px 0px 7px #0e9594;
    background-color: #0e9594;
    transition: all 0.2s ease;
}

.upd-btn .delete-btn{
    background-color:#e66155;
}

.delete-btn:hover{
    box-shadow: 0px 0px 7px #e34234;
    background-color: #e34234;
    transition: all 0.2s ease;
}


table{
    width: 100%;
    box-shadow: var(--main-content-shadow);
}

.list
{
    overflow-x: auto;
}
.list h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0%;
}

table{
    border-collapse: collapse;
    background-color: #ab62ff;
    color: #eee;
}

table tr:nth-child(even){
    background-color: #7f36d2;
}

table tr:hover {
    background-color: #582790;
    transition: all 0.2s ease;
}

table, td, th{
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-top: 15px;
    
}


th{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #c3fdfa;
    background-color: #552b86;
    text-align: left;
}

td img{
    width: 46px;
    height: 46px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}


@media only screen and (max-width:1024px){
    .details1{
        grid-row: span 1;
    }
    .details4
    {
        grid-column: span 1;
    }
}

@media (min-width: 1536px)
{
    .details1{
        grid-column: 1/2;
    }
    .details2{
        grid-column: 2/3;
    }
    .details3{
        grid-column: 3/4;
    }
    .details4{
        grid-column: 2/4;
    }
}


@media only screen and (max-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

@media only screen and (max-width: 1024px)
{
    .upd-btn
    {
        justify-content: center;
    }
    .upd-btn button
    {
        flex: 0 0 35%;
    }
}