@import url(manage.css);

@media only screen and (max-width: 1024px) 
{
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "ID"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Species"; }
    td:nth-of-type(4):before { content: "Breed"; }
    td:nth-of-type(5):before { content: "Age"; }
    td:nth-of-type(6):before { content: "Sex"; }
    td:nth-of-type(7):before { content: "Weight"; }
    td:nth-of-type(8):before { content: "Date of rescue"; }
    td:nth-of-type(9):before { content: "Description"; }
}