@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
:root{
    --main-box-shadow: 0px 3px 10px rgb(101, 101, 101); 
    /* Frame Shadow */;
    --main-content-shadow:0 .4rem .8rem #0005;
    --main-input-color:rgba(37, 141, 141, 0.248);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar main main";
    min-height: auto;
}

/*---------------------------------HEADER-----------------------------*/

header{
    background: #fdf7ec;
    padding: 0 20px;
    grid-area: header;
    height: 100px;
    width: 100%;
    position: relative;
    box-shadow: var(--main-box-shadow);
    z-index: 1;
}

nav{
    max-width: 1700px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    
}

.navbar img{
    width: 100px;
    margin-top: 6px;
}


nav, .items{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

a{
    text-decoration: none;
}

.items{
    column-gap: 15px;
    text-decoration: none;
    list-style: none;
}

.items img{
    width: 60px;
    margin-top: 6px;
}

#messages, #notifications{
    color: #ffb845;
    font-size: 24px;
}

#messages :hover{
    color: #f2542d;
    transition: all 0.3s ease;
}

#notifications :hover{
    color: #f2542d;
    transition: all 0.3s ease;
}

/*---------------------------------CONTENT-----------------------------*/
main{
    background: #f5dfbb;
    grid-area: main;
    height: 100vh;
}

.content {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5,100px);
    grid-gap: 1em;
    grid-auto-flow: row; 
    padding: 40px;
}

.content h1{
    color: #0e9594;
    padding: -1em;
}

.title-1{
    grid-row: 1/1;
    grid-column: 1/10;
}

.profile, .list {
    background-color: #fdf7ec;
    border-radius: 10px;
    box-shadow: var(--main-content-shadow);
}

.profile{
    grid-row: 1/7;
    grid-column: 1/10;
}

.profile img{
    margin-top: 20px;
    width: 200px;
    border-radius: 30px;
}

.container2{
    display: flex;
    color:#6a6262;;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -15px;
}

.item{
    padding: 50px;
    margin-left: 50px;
}

#ID{
    margin-top: 20px;
    margin-left: 5px;
    width: 118px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color : var(--main-input-color)
}

.details1 a{
    margin-left: 35px;
    color: #6a6262;
}

.details2 input{
    width: 355px;
    padding: 9px;
    margin: 15px 15px 15px 0px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-input-color);
}

.details2 select{
    width: 355px;
    padding: 9px;
    margin: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-input-color);
}

.details2 textarea{
    width: 50rem;
    border-radius: 5px;
    border: none;
    background-color: var(--main-input-color);
}

#label-about{
    display: flex;
    margin-top: 35px;
}
#user-email{
    margin-left: 60px;
}

#UserFname{
    margin-left: 10px;
}

#UserLname{
    margin-left:25px;
}

#Password{
    margin-left: 15px
}

#User-Type{
    margin-left:30px
}

#Date{
    margin-left: 5px
}

#about{
    margin-top: -30px;
    margin-left: 100px
}

.img-label{
    display: block;
    background-color: #ffb845ba;
    color: black;
    padding: 0.5em;
    --webkit-appearance: button;
    cursor: pointer;
    border-radius: 10px;
    max-width: 95%;
    width: 210px;
    text-align: center;
    margin-top: 20px;
}

#input-file{
    display: none;
}

.details1{
    padding: 6vh;
    justify-self: center;
}

.upd-btn{
    display: flex;
    gap: 15px;
    justify-content: end;
    margin: 20px 15px -15px 15px;
}

.upd-btn button{
    padding: 9px 25px;
    border: none;
    border-radius: 16px;
}

.upd-btn .update-btn{
    background-color:  #58c3c3;
}

.update-btn:hover{
    box-shadow: 0px 0px 7px #0e9594;
    background-color: #0e9594;
    transition: all 0.2s ease;
}

.upd-btn .delete-btn{
    background-color:#e66155;
}

.delete-btn:hover{
    box-shadow: 0px 0px 7px #e34234;
    background-color: #e34234;
    transition: all 0.2s ease;
}

.list{
    grid-row: 7/20;
    grid-column: 1/10;

}

.list table{
    width: 160vh;
    height: 10vh;
    box-shadow: var(--main-content-shadow);
}

.list h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0%;
}

table{
    border-collapse: collapse;
    background-color: #feeed3;
    margin: 2em;
    overflow: auto;
    overflow: overlay;
}

table tr:nth-child(even){
    background-color: #f2dab2;
}

table tr:hover {
    background-color: #fbd08c;
    transition: all 0.2s ease;
}

table, td, th{
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-top: 15px;
    width: 1rem;
}

th{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fdf7ec;
    background-color: #0e9594;
    text-align: left;
}

td {
   padding: 1.5em;
}

/*---------------------------------SIDEBAR-----------------------------*/

.sidebar{
    background: #0e9594;
    grid-area: sidebar;
    position: relative;
    overflow: hidden;
    box-shadow: var(--main-box-shadow);
}

.menu-links{
    list-style: none;
    padding-top: 50px;
    cursor: pointer;
}

.menu-links a{
    display: block;
    color:  rgba(255, 255, 255, 0.738);
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}

.menu-links a.active {
    background-color: #f5dfbb;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #127475;
    color: white;
    border-left: 20px;
    transition: all 0.3s ease;
}

.sidebar #menu-btn{
    color: #fdf7ec;
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
    padding: 20px;
}

.sidebar #close-btn{
    color: #fdf7ec;
    cursor: pointer;
    display: none;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
    position: absolute;
}

/*--- Customize Scrollbar ---*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #fdf7ec;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#0e9594, #ffb845);
    border-radius: 20px;
}

@media only screen and (max-width:678px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) ;
        grid-template-areas: 
        "header"
        "sidebar"
        "main";
    }

    aside .mobile-mode::before{
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }

    .sidebar .menu-links {
        height: 100vh;
        max-width: 1200px;
        width: 100%;
        background:#0e9594;
        position: fixed;
        left: -1200px;
        top: 0;
        display: block;
        padding: 90px;
        transition: left 0.2s ease;
        text-align: center;
    }

    aside .mobile-mode .sidebar .menu-links{
        left: 0;
    }

    .sidebar .menu-links li {
        margin-bottom: 30px;
    }

    .sidebar .menu-links li a {
        color:  rgba(255, 255, 255, 0.738);
        font-size: 1.1rem;
    }

    .sidebar .menu-links a {
        padding: 0;
    }

    .sidebar .menu-links a:hover{
        color: white;
        background: none;
        background-color: #127475;
        transition: all 0.2s ease;
    }
    
    .sidebar :is(#close-btn, #menu-btn) {
        display: block;
    }


}

