:root{
    --shadow-content: 0 .4rem .8rem #0005;
    --shadow-main: 0px 3px 10px rgb(101, 101, 101);
    --searchbar-color: rgba(37, 141, 141, 0.248);
    --sidebar-color: rgb(108, 178, 178);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  body {
    min-height: 100vh;
    position: relative;
    font-family: 'Lato', sans-serif; 
    background-color: #fdc161;
    justify-content: center;
  }
  

/* start: Chat */
.chat-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end: Chat */

.conversation {
    height: 100%;
    width: 100%;
    margin: 30px;
}

.conversation-top {
    padding: 8px 16px;
    background-color:#0e9594;
    display: flex;
    align-items: center;
}

.conversation-back {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-right: 12px;
    display: none;
}

.conversation-back:hover {
    background-color: aliceblue;
    color: #127475;
    transition: all 0.3s ease;
}

.conversation-user {
    display: flex;
    align-items: center;
}
.conversation-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.conversation-user-name {
    font-weight: 500;
    font-size: 17px;
}
.conversation-user-status {
    color:green;
    font-size: 13px;
}

.conversation-user-status a{
    color: aliceblue;
}
.conversation-user-status::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
.conversation-user-status.online::before {
    background-color: green;
}

.conversation-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.conversation-buttons > * {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: transparent;
    cursor: pointer;
    color: aliceblue;
    margin-left: 4px;
}

.conversation-buttons > :hover {
    background-color: aliceblue;
    color: #127475;
    transition: all 0.3s ease;
}

.conversation-main {
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
    background-color: #fdf7ec;
}

.conversation-wrapper {
    list-style-type: none;
}

.conversation-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 16px;
}

.conversation-item.me {
    flex-direction: row;
}

.conversation-item-side {
    margin-left: 8px;
}

.conversation-item.me .conversation-item-side {
    margin-right: 8px;
}

.conversation-item-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.conversation-item-content {
    width: 100%;
}
.conversation-item-wrapper:not(:last-child) {
    margin-bottom: 8px;
}
.conversation-item-box {
    max-width: 720px;
    position: relative;
    margin-left: auto;
}
.conversation-item.me .conversation-item-box {
    margin-left: unset;
}
.conversation-item-text {
    padding: 12px 16px 8px;
    background-color: whitesmoke;
    box-shadow: var(--shadow-content);
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    margin-left: 32px;
}
.conversation-item.me .conversation-item-text {
    margin-left: unset;
    margin-right: 32px;
}
.conversation-item.me .conversation-item-text {
    background-color: #0e9594;
    box-shadow: var(--shadow-content);
    color: rgba(255, 255, 255, .8);
}
.conversation-item-time {
    font-size: 10px;
    color: #0e5354;
    display: block;
    text-align: right;
    margin-top: 4px;
    line-height: 1;
}
.conversation-item.me .conversation-item-time {
    color: rgba(255, 255, 255, .7);
}
.conversation-item-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown {
    left: unset;
    right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown {
    opacity: 1;
    visibility: visible;
}
.conversation-item-dropdown-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: white;
    outline: transparent;
    border: 1px solid white;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.conversation-item-dropdown-toggle:hover {
    background-color: #0e9594;
    color: white;
    box-shadow: var(--shadow-content);
}

.conversation-item-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 4px 0;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left top;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-list {
    left: unset;
    right: 0;
}
.conversation-item-dropdown.active .conversation-item-dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.conversation-item-dropdown-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 6px 12px;
}
.conversation-item-dropdown-list a:hover {
    background-color: #cbd5e1;
}

.conversation-item-dropdown-list a:active {
    background-color: var(--slate-200);
}
.conversation-item-dropdown-list a i {
    font-size: 16px;
    margin-right: 8px;
}
.coversation-divider {
    text-align: center;
    font-size: 13px;
    color: #0e5354;
    margin-bottom: 16px;
    position: relative;
}
.coversation-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var();
}
.coversation-divider span {
    display: inline-block;
    padding: 0 8px;
    background-color: #fdf7ec;
    position: relative;
    z-index: 1;
}

.conversation-form {
    padding: 8px 16px;
    background-color: var(--white);
    display: flex;
    align-items: flex-end;
}
.conversation-form-group {
    width: 100%;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}

.conversation-form-input {
    background-color: #f1f5f9;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    outline: transparent;
    padding: 10px 32px 10px 16px;
    font: inherit;
    font-size: 14px;
    resize: none;
    width: 100%;
    display: block;
    line-height: 1.5;
    max-height: calc(20px + ((14px * 2) * 6));
}

.conversation-form-input:focus {
    border-color: var(--slate-400);
}

.conversation-form-record {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 20px;
    color: #94a3b8;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
}
.conversation-form-record:hover {
    color: #475569;
}
.conversation-form-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    outline: transparent;
    font-size: 20px;
    color: #94a3b8;
    cursor: pointer;
    flex-shrink: 0;
}
.conversation-form-button:hover {
    background-color:  #f1f5f9;
    color:#475569;
}

.conversation-form-submit {
    background-color: #64748b;
    box-shadow: 0 2px 8px -2px  #64748b;
    color: white;
}
.conversation-form-submit:hover {
    background-color: #475569;
    color: white;
}
.conversation-form-submit:active {
    background-color: #334155;
    color: white;
}
.conversation-default {
    align-items: center;
    justify-content: center;
    padding: 16px;
    padding-left: calc(256px + 16px);
    color: #94a3b8;
}
.conversation-default i {
    font-size: 32px;
}
.conversation-default p {
    margin-top: 16px;
}




/* start: Breakpoints */
@media screen and (max-width: 1600px) {
    .chat-container {
        max-width: unset;
        height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    html{
        overflow: hidden;
    }

    .conversation,
    .chat-content {
        padding-left: unset;
    }
    .content-sidebar {
        left: unset;
        z-index: 10;
        width: 100%;
    }
    .chat-sidebar-menu > * > a::before {
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
        top: unset;
    }
    .chat-sidebar-menu > * > a:hover::before {
        bottom: calc(100% + 8px);
        left: 50%;
    }

    .chat-content {
        position: relative;
        height: calc(100% - 48px);
    }
    .conversation.active {
        position: relative;
        z-index: 20;
    }
    .conversation-back {
        display: flex;
    }
    .conversation-default.active {
        display: none;
        padding: 16px;
    }
}
/* end: Breakpoints */