@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(/src/fonts/Dairantou.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  background: #fdc161;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 15px;
}

header .navbar {
  max-width: 1500px;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img{
    width: 130px;
    image-resolution: 300px;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #127475;
}

.navbar .menu-links .join-btn a {
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #127475;
}

.navbar .menu-links .join-btn a:hover {
  color: #fff;
  border-color: transparent;
  background: #f2542d;
}

/*--------------------------------------------------------------------------------------------*/

.hero-section {
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.hero-section .content {
  max-width: 1500px;
  width: 100%;
  margin-top: 50px;
}

.hero-section .photodecor img{
  height: 87vh;
  margin-top: -20px;
  margin-right: 120px;
}

.hero-section .content h1 {
  color: #0e9594;
  font-family: 'dairantou';
  font-size: 350%;
  max-width: 200vh;
  line-height: 70px;
  margin-left: 20vh;
}

.hero-section .content p {
  color: #fff6e8;
  font-size: 26px;
  max-width: 630px;
  line-height: 30px;
  margin-top: 15px;
  margin-left: 20vh;
}

.hero-section .register-button{
  margin-top: 25px;
  margin-left: 20vh;
} 

.register-button{
  border-radius: 30px;
  background-color: #f2542d;
  border: none;
  box-shadow: -2px 5px 0px #7a1d05;
  color: #FFFFFF;
  font-size: 28px;
  padding: 10px;
  padding-bottom: 15px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  justify-content: center;
}

.register-button span{
  font-size: 22px;
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 0.3s;
}

.register-button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.register-button:hover span {
  padding-right: 25px;
}

.register-button:hover span:after {
  opacity: 1;
  right: 0;
}

.hero-section .search-form input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 1rem;
  border-radius: 4px 0 0 4px;
}

.hero-section .popular-tags {
  display: flex;
  color: #fff;
  gap: 25px;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 25px;
}

.hero-section .tags li a:hover {
  color: #000;
  background: #fff;
}

.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}


/*--------------------------------------------------------------------------------------------*/

main{
  background: #f5dfbb;
  width: 90%;
  height: 730px;
  margin-top: 30px;
  margin-left: 90px;
  border-radius: 26px;
  box-shadow: 0px 3px 10px rgb(110, 109, 109);
}

.container1 h1{
  font-family: 'dairantou';
  color: #ff653e;
  font-size: 55px;
  text-align: center;
  padding-top: 45px;
}

.services{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.services .item{
  margin-top: 2.5rem;
  width: 350px;
  height: 510px;
  text-align: center;
  background-color: #0e9594;
  border-radius: 12px;
}

.services .item:hover{
  margin-top: 2rem;
  transition: 0.3s;
  box-shadow: -10px 10px 0px #127475;
}

/*--------------------------------------------------------------------------------------------*/

.container2{
  display: flex;
  padding: 0;
  height: 935px;
  margin-top: 145px;
  background: #ff653e;
}

.container2 .item{
  width: 950px;
  height: auto;
}

.container2 h1{
  font-family: 'dairantou';
  color: #ffb845;
  font-size: 75px;
  text-align: left;
  padding-top: 140px;
  margin-left: 150px;
}

.container2 p{
  color: wheat;
  font-size: 24px;
  max-width: 630px;
  line-height: 30px;
  margin-top: 14px;
  margin-left: 120px;
  text-align: justify;
}


/*--------------------------------------------------------------------------------------------*/
.container3{
  width: 90%;
  height: 730px;
  margin-top: 135px;
  margin-left: 90px;
}

.container3 h1{
  text-align: center;
  font-family: 'dairantou';
  color: #0e9594;
  font-size: 55px;
}

.testimonials{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  margin-top: 50px;
}

.testimonials .item{
  background: #f5dfbb;
  height: 350px;
  width: 800px;
  border-radius: 26px;
  box-shadow: 0px 3px 10px rgb(110, 109, 109)
}

.testimonials .item:hover{
  background: #d3c3a9;
  transition:  0.2s ease;
}

/*--- Customize Scrollbar ---*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #fdf7ec;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#ffb845,#0e9594);
  border-radius: 20px;
}

/*--------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 900px) {
  header.show-mobile-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
  }

  .navbar .menu-links {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background: #fdf7ec;
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #e89003;
    font-size: 1.1rem;
  }

  .navbar .menu-links .join-btn a {
    padding: 0;
    background-color: #FFFFFF;
    
  }

  .navbar .menu-links .join-btn a:hover {
    color: #0e9594;
    background: none;
  }

  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }

  .hero-section {
    background: none;
  }

  .hero-section .content {
    margin: 0 auto 80px;
  }

  .hero-section .content :is(h1, .search-form) {
    max-width: 100%;
  }

  .hero-section .content h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 47px;
  }

  .hero-section .content p {
    text-align: center;
    margin-left: 10vh;
  }

  main{
    height: 100vh;
    max-width: 740px;
    margin-left: 60px;
  }

}
