@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(/src/fonts/Dairantou.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
}

.container img{
    width: 170px;
    margin: -20px;
}

h1{
    padding: 20px;
}

p{
    padding: 10px;
}


.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}


.btn {
    min-width: 400px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    margin: 0 0 20px 0;
    padding: 0.775rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.7;
}

.btn-verify {
    font-weight: 600;
}

.btn-verify:hover{
    transition: 0.3s ease;
}


@media (max-width: 680px) {
     .code-container {
        flex-wrap: wrap;
     }
     .code {
        font-size: 24px;
        height: 50px;
        max-width: 50px;
        font-size: bold;
     }
}
