@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(/src/fonts/Dairantou.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  background: #fdc161;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 15px;
}

header .navbar {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img{
    width: 130px;
    image-resolution: 300px;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #127475;
}

.navbar .menu-links .join-btn a {
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #127475;
}

.navbar .menu-links .join-btn a:hover {
  color: #fff;
  border-color: transparent;
  background: #f2542d;
}

.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}


/*--------------------------------------------------------------------------------------------*/

/* Content */
main{
  background: #f5dfbb;
  width: 90%;
  height: auto;
  margin-top: 13%;
  position: relative;
  margin-left: 5%;
  padding: 50px;
  border-radius: 26px;
  margin-bottom: 15%;
}

h1{
  text-align: left;
  font-size: 45px;
  padding-bottom: 5px;
  margin-left: 3%;
  color: #127475;
}

hr {
  background: #127475;
  height: 1px;
  border: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
}

.user-profile img {
  width: 230px;
  height: 230px;
  border-radius: 30px;
}

.user-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding-bottom: 40px;
}

.acc-info,
.appointment-status{
  border: 1px solid #0e9594;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 0 25px 25px 25px;
}
.acc-info th, 
.appointment-status th {
  font-size: 20px;
  font-weight: 800;
  color: #0e9594;
}
.acc-info th, td,
.appointment-status th, td{
  padding: 15px;
  color: #127475;
}
.buttons {
  display: flex;
  gap: 30px;
  justify-content: end;
  padding-right: 40px;
}

.buttons .edit-profile,
.buttons .logout {
  padding: 10px;
  width: 28%;
  border: none;
  border-radius: 26px;
  font-size: 20px;
  font-weight: 800;
}

.buttons .edit-profile{
  color: #0e9594;
  background: #ffb845;
}

.buttons .logout{
  color: #f5dfbb;
  background: #f2542d;
}



/*--------------------------------------------------------------------------------------------*/


/*--- Customize Scrollbar ---*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #fdf7ec;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#ffb845,#0e9594);
  border-radius: 20px;
}

/*--------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 900px) {
  header.show-mobile-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
  }

  .navbar .menu-links {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background: #fdf7ec;
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #e89003;
    font-size: 1.1rem;
  }

  .navbar .menu-links .join-btn a {
    padding: 0;
    background-color: #FFFFFF;
    
  }

  .navbar .menu-links .join-btn a:hover {
    color: #0e9594;
    background: none;
  }

  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }

  .hero-section {
    background: none;
  }

  .hero-section .content {
    margin: 0 auto 80px;
  }

  .hero-section .content :is(h1, .search-form) {
    max-width: 100%;
  }

  .hero-section .content h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 47px;
  }

  .hero-section .content p {
    text-align: center;
    margin-left: 10vh;
  }

  main{
    height: auto;
    max-width: 740px;
    margin-top: 35%;
    padding: 20px;
  }

  h1{
    margin-top: 2%;
    font-size: 30px;
    text-align: center;
  }
  .container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .user-profile img {
    max-width: 180px;
    max-height: 180px;
  }
  .acc-info,
  .appointment-status {
    font-size: 12px;
    padding: 0 15px 15px 15px;
  }

  .acc-info th,
  .appointment-status th {
    font-size: 15px;
  }

  .acc-info th, td,
  .appointment-status th, td{
  padding: 10px;
  color: #127475;
  }

  .buttons .edit-profile,
  .buttons .logout {
    margin-top: -7%;
    gap: 0;
    padding: 6px;
    width: 40%;
    border: none;
    justify-content: space-evenly;
    font-size: 12px;
  }

}