@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
  font-family: 'dairantou';
  src: url(fonts/Dairantou.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: 'Lato', sans-serif; /*samp*/
  background-color: #fdc161;
  justify-content: center;
}

header {
  background: url('icons/picture1-volunteer.png');
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  z-index: 1;
  padding: 20px;
  margin-bottom: 100;
  background-repeat: no-repeat;
  background-size: cover;
}

header .navbar {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
    width: 150px;
    image-resolution: 300px;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #127475;
}
/*--------------------------------------------------------------------------------------------*/
.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}


/*--------------------------------------------------------------------------------------------*/

main{
  background: #f5dfbb;
  width: 90%;
  height: 730px;
  margin-top: 30px;
  margin-left: 90px;
  border-radius: 26px;
  box-shadow: 0px 3px 10px rgb(110, 109, 109);
}

/*--------------------------------------------------------------------------------------------*/

/*--- Customize Scrollbar ---*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #fdf7ec;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#ffb845,#0e9594);
  border-radius: 20px;
}

/*--------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 900px) {
  header.show-mobile-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
  }

  .navbar .menu-links {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background: #fdf7ec;
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }
  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #e89003;
    font-size: 1.1rem;
  }

  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }

/*---------------------------------------------CONTENT-----------------------------------------------*/
    main{
    height: 100vh;
    max-width: 740px;
    margin-left: 60px;
  }

}
/* Content */
/* header part*/
a .icon-user{
  width: 50px;
  height: 50px;
  transition: opacity 0.2s ease;
}
.icon-user:hover {
  opacity: 0.70; /* Adjust the opacity value as needed */
}
/* for title */
#petsTitle {
  font-family: 'dairantou', sans-serif;
  color: #fff6e8;
  }
.title-container {
  text-align: center;
  padding: 20px;
  margin-top: 15vh; 
  justify-content: center;
  }

h1 {
   font-size: 4em; 
  }
/* volunteers containers */
    .about-container {
      display: flex;
      background-color: #f2542d;
      margin-top: 120px; /* Add margin-top */
    }

    .text-container {
      flex: 1;
      padding: 20px;
      margin-right: 120px;
    }

    .volunteer-container {
      flex: 1;
    }

    .volunteer-title {
      font-size: 50px;
      margin-bottom: 10px;
      color: #fdc161;
    }

    .custom-image {
      width: 80%;
      height: auto;
      display: block;
    }
    .volunteer-title{
      padding-top: 50px;
      text-align: center;
      font-family: 'dairantou', sans-serif;
    }
    .custom1-paragraph {
      font-size: 26px;
      font-weight: bold;
      text-align: left;
      padding-top: 50px;
    }
    .custom2-paragraph {
      font-size: 24px;
      text-align: left;
    }
    p {
      color: #fff6e8;
    }

/* ---volunteers containers-1--- */
    .about-container-1 {
      display: flex;
      background-color: #0e9594;
      margin-top: 120px; /* Add margin-top */
    }
    .text-container-1 {
      flex: 1;
      margin-left: 200px;
    }
    .volunteer-container-1 {
      flex: 1;
      display: flex;
      justify-content: flex-end; /* Move the image to the very right end */
      align-items: center;
    }
    .volunteer-title-1 {
      font-size: 50px;
      margin-bottom: 8px;
      color: #f5dfbb;
    }
    .custom-image-1 {
      width: 80%;
      height: auto;
      display: block;
    }
    .volunteer-title-1{
      padding-top: 50px;
      text-align: center;
      font-family: 'dairantou', sans-serif;
    }
    .custom1-paragraph-1 {
      font-size: 26px;
      font-weight: bold;
      text-align: left;
      padding-top: 50px;
      color: #f5dfbb;
    }
    .custom2-paragraph-1 {
      font-size: 24px;
      text-align: left;
      color: #f5dfbb;
    }
/* ---Apply Now--- */
    .applynow {
      background-color: #fdc161;
      margin: 5%;
    }
    .applynow-container {
      background-color: #f5dfbb;
      margin: 50px;
      padding: 20px; /* Adjust padding as needed */
      text-align: left;
      border-radius: 15px;
      height: 400px;
      box-sizing: border-box;
    }

    .applynow-title {
      padding-top: 30px;
      padding-left: 50px;
      color: #0e9594;
      font-size: 4.0em;
      font-family: 'dairantou', sans-serif;
    }

    .applynow-text {
      padding: 60px 0 0 50px; /* Adjust padding as needed */
      color: #0e9594;
      font-size: 22px;
      display: flex;
    }

    .applynow-input {
      border: none;
      border-bottom: 2px solid black; /* Set line under text box */
      padding: 5px;
      margin-top: 20px;
      margin-left: 50px;
      margin-right: 800px;
      width: 30%; 
      background-color: #f5dfbb;
      border-color: #0e9594;
      font-size: 22px;
      max-width: 80%;
    }
    .applynow-input::placeholder {
      color: #0e9594; 
    }
    .applynow-input:focus {
      outline: none; 
      border-bottom: 2px solid #0e9594; }
/*-------------------------------Responsive in 900px---------------------------------------*/

@media only screen and (max-width: 900px){
  h1 {
    font-size: 3em;
    background-size: auto; /* Adjust as needed for mobile view */
    margin-bottom: 50px; /* Adjust margin for mobile view */
    height: 80vh; /* eto need ko para sa background */
  }
  .logo img {
    width: 70%; 
    max-width: 150px;   
  }
/*--Volunteer Containers--*/
  .about-container {
    flex-direction: column; /* horizontal layout on screens wider than 900px */
  }
  .custom-image {
    width: 100%;
    height: 350px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
    margin: 0 auto; /* Center the image horizontally within its container */
  }
  .text-container{
    margin-bottom: 40px;
    padding-left: 40px;
  }
  .custom1-paragraph {
    font-size: 22px;
    padding-top: 35px;
  }
  .custom2-paragraph {
    font-size: 20px;
  }
  .volunteer-title{
    font-size: 40px;
    padding: 10px;
  }
/*--Volunteer Containers-1--*/
  .about-container-1 {
    flex-direction: column; /* horizontal layout on screens wider than 900px */
  }
  .custom-image-1 {
    width: 100%;
    height: 350px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
    margin: 0 auto; /* Center the image horizontally within its container */
  }
  .text-container-1{
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 90px;
  }
  .custom1-paragraph-1 {
    font-size: 22px;
    padding-top: 35px;
  }
  .custom2-paragraph-1 {
    font-size: 20px;
  }
  .volunteer-title-1{
    font-size: 40px;
    padding: 5px;
    padding-top: 40px;
  }
  /*--To Switch Position--*/
  .volunteer-container-1 {
    order: 1; /* Move the image container to the right */
  }

  .text-container-1 {
    order: 2; /* Keep the text container on the left */
  }
/*--apply now--*/
  .applynow-input{
    font-size: 18px;
  }
  .applynow-input{
    width: 70%;
  }
  .applynow-title{
    font-size: 3.0em;
  }
  .applynow-input{
    font-size: 18px;
  }
}